<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <style>
        body {
            font-family: Arial;
            max-width: 600px;
            margin: auto;
        }
        li {
            margin: 8px 0;
        }
        button {
            margin-left: 6px;
        }
    </style>
</head>
<body>

<h2>Task Manager</h2>

<input id="title" placeholder="Task title" />
<button onclick="addTask()">Add</button>

<ul id="taskList"></ul>

<script src="/static/script.js"></script>
</body>
</html>

